<%= form_for(@task) do |f| %>
  <%= render partial: "partials/form_errors", locals: {model: @task} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :deadline %>
    <p><%= f.datetime_select :deadline, class: "form-control" %></p>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
    / <%= link_to "Back", :back %>
  </div>
<% end %>
